<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Authentication App</title>
    <link rel="stylesheet" href="~/css/app.css" />
</head>
<body class="font-sans bg-gray-100">
    <div class="min-h-screen w-full">
        @RenderBody()
        <div class="inline-block z-10 mx-0 sm:mx-auto sm:w-128 bg-transparent text-sm text-gray-600 font-light -mt-8 sm:mt-2 flex justify-between px-4 ">
            <span>poports</span>
            <span>devchallenges.io</span>
        </div>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
