@page
@model AuthServer.Pages.Account.ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}


<div class="z-20 mx-0 sm:w-128 sm:mx-auto sm:mt-16 sm:bg-white text-gray-700 sm:shadow-lg h-screen sm:h-full sm:rounded-lg justify-center">
    <div class="p-12">
        <img class="h-5" src="~/dotnet/images/devchallenges.svg" alt="Logo" />
        
        <div class="mt-4 flex flex-col items-center">
            <h4 class="w-full text-left text-lg font-semibold pr-4">Associate your @Model.ProviderDisplayName account.</h4>
            <p class="text-left text-base pr-4 mt-4">
                You've successfully authenticated with <strong>@Model.ProviderDisplayName</strong>.
                Please enter an email address for this site below and click the Register button to finish
                logging in.
            </p>
            
            <div class="w-full flex-1 mt-8">
                <form  asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" class="mx-auto"  method="post">
                    <span class="flex items-center px-3 rounded-lg h-12 border focus-within:border-blue-400">
                        <svg class="fill-current text-gray-500" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                            <path d="M0 0h24v24H0z" fill="none" />
                            <path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z" />
                        </svg>
                        <input asp-for="Input.Email" class="placeholder-gray-500 p-2 w-full focus:outline-none bg-transparent" placeholder="Email" autocomplete="email" />
                    </span>
                    <span asp-validation-for="Input.Email" class="text-red-500 font-light text-xs"></span>

                    <div asp-validation-summary="ModelOnly" class="text-red-500 font-light text-xs"></div>
                    <button class="mt-5 tracking-wide font-semibold bg-blue-500 text-gray-100 w-full py-4 rounded-lg hover:bg-primary-900 transition-all duration-300 ease-in-out flex items-center justify-center focus:shadow-outline focus:outline-none"
                            type="submit">
                        Register
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
